name: CI/CD Docker Hub -> Azure 

on:
  push: 
      branches: 
      - main

jobs: 
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout codigo
      uses: actions/checkout@v4

    - name: Configurar Docker build
      uses: docker/setup-buildx-action@v3

    - name: Login a Docker Hub
      uses: docker/login-action@v3
      with: 
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}  

    - name: Build y push (linux/amd64)
      uses: docker/build-push-action@v5
      with:
        context: . 
        platforms: linux/amd64
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/devops-jr-app:latest    


  deploy-to-azure:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps: 
      - name: Login en Azure
        uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS}}

      - name: Reiniciar Web App (forzar pull de imagen) 
        uses: azure/cli@v2
        with: 
          inlineScript: | 
            az webapp restart \
              --name webapp-devops-jr-123 \
              --resource-group rg-devops-jr


     